header{
    background: #01b50af2;
    border: 1px solid #ffffff;
    padding: 20 px;
    text-align: center;
    text-decoration-color: #4e2e24fe;
}

nav{
    background: #3fe73f;
    padding: 5px 15px;
}

nav li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdena, sans-serif;
    text-align: center;
}

body{
    text-align: center;
    background-color:#5c5958;
}

section{
    float: left;
    width: 70%;
    margin: 20px;
    text-align: justify;
}

aside{
    float: right;
    width: 20%;
    margin: 20px;
    padding: 20px;
    background: #574134;
    text-align: left;
}

article{
    background: #58f14a;
    border: 1px solid #5aea39;
    padding: 20px;
    margin-bottom: 15px;
}

footer{
    clear: both;
    text-align: center;
    padding: 20px;
    border: 2px solid #eaab5d;
}

article img{
    float: right;
    margin: 0px 10px;
}

article footer{
    text-align: right;
    border-top: 2px solid #f19646;
}